extends layout

block content
  section.section1
    .greeting.home-greeting
      h2.greeting__title hazy shade of spring
      p.greeting__description Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      button.greeting__button: a.greeting__link(href="laptops") check new arrivals